.container-fluid {
  padding: 20px;
  height: 100vh;
}

.row {
  height: 100%;
}

#graph-container {
  padding: 10px;
  background-color: aqua;
}

#info-container {
  padding: 10px;
  background-color: aquamarine;
}
